{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<div class="row mt-4">
  {% for product in products %}
  <div class="col-lg-4 mt-4">
    <img class="thumbnail" src="{{ product.imageURL }}" alt="">

    <div class="box-element product">
      <h6><strong>{{ product.name }}</strong></h6>
      <hr>
      <button class="btn btn-outline-secondary add-btn update-cart" data-product="{{ product.id }}" data-action="add">Добавить в корзину</button>
      <p class="price-tag">{{ product.price }}₸</p>

    </div>
  </div>
  {% endfor %}
</div>

{% endblock content %}
